*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
    background-color: #fff;
}

ul, h1, h2, div, p, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root {
    --text-color-nav: #626262;
    --text-color: #1D1D1D;
    --bg-color-main: #fff;
    --bg-color-active: #262626;
    --bg-color-hover: #57AD56;
    --font-size: 36px;
    --font-size-mob: 24px;
    --font-weight-min: 400;
    --font-weight-max: 500;
}