*{
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', sans-serif;;
    background-color: #fff;
}

ul, h1, h2, div, p, body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

:root {
    --bg-color-hover: #262626;
    --bg-color-active: #57AD56;
}