.header {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px 16px 8px;
}

.header__register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}

.header__btn {
    display: inline-block;
    width: 72px;
    height: 40px;
    border-radius: 2px;
}

.header__btn:hover {
    color: var(--bg-color-main);
    background-color: var(--bg-color-hover);
    cursor: pointer;
    border: none;
}

.header__btn:active {
    display: inline-block;
    width: 72px;
    height: 40px;
    border-radius: 2px;
    color: var(--bg-color-main);
    background-color: var(--bg-color-active);
}

.header__basket {
    display: none;
}

.main {
  width: 100%;
  height: auto;
}

.main__title {
  position: relative;
  width: 100%;
  height: 256px;
  background-image: url("../assets/title-mob.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  position: absolute;
  top: 131px;
  left: 8px;
  width: 308px;
  height: 180px;
  text-align: center;
  padding-top: 24px;
  font-weight: var(--font-weight-min);
  font-size: var(--font-size-mob);
  line-height: 28px;
  border-radius: 2px;
  color: var(--text-color);
  background-color: var(--bg-color-main);
}

.card__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 24px;
}

.card__text {
  font-weight: var(--font-weight-min);
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color-nav);
  margin-bottom: 16px;
}

.card__min {
  width: 98px;
  height: 32px;
  background: var(--bg-color-active);
  border-radius: 16px;
  font-weight: var(--font-weight-min);
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: var(--bg-color-main);
  padding-top: 9px;
}

.main__nav {
  display: none;
}

.menu {
  width: 100%;
  height: 933px;
  padding: 111px 4px 40px 8px;
  background-color: var(--bg-color-main);
}

.menu__title {
  font-weight: var(--font-weight-min);
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: var(--text-color);
}

.menu__image {
  text-align: center;
}

.menu__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 16px;
  padding: 41px 0;
}

.info {
  width: 100%; 
  height: 102px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color-menu);
  border-bottom: 1px solid #757575;
}

.info:hover {
  background-color: var(--bg-color-menu-hover);
}

.info__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__text-name {
  font-weight: var(--font-weight-min);
  font-size: 14px;
  line-height: 24px;
  color: var(--text-color);
}

.info__text-composition {
  font-weight: var(--font-weight-min);
  font-size: 13px;
  line-height: 21px;
  color: var(--text-color-nav);
  margin-bottom: 30px;
}

.info__text-price {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: var(--text-color);
}

.info__image {
  width: 102px;
  height: 102px;
  border-radius: 2px;
  overflow: hidden;
}

.image--herring {
  background-image: url("../assets/herring-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image--pickles {
  background-image: url("../assets/pickles-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image--mushrooms {
  background-image: url("../assets/mushrooms-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image--fat {
  background-image: url("../assets/fat-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image--salmon {
  background-image: url("../assets/salmon-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.image--tonque {
  background-image: url("../assets/tonque-mob.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  width: 100%;
  height: 769px;
  padding: 56px 8px 40px 8px;
  background-color: var(--bg-color-active);
}

.footer__logo {
  width: 191px;
  height: 20px;
  background-image: url("../assets/footer-logo.png");
  background-size: cover;
  margin-bottom: 41px;
}

.footer__nav {
  width: 100%;
  height: 492px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #fff;
}

.icon__language {
  margin: 32px 0;
}

.icon__social {
  margin-bottom: 44px;
}

.nav-items {
  font-weight: var(--font-weight-min);
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 23px;
  color: var(--bg-color-main);
}

.nav-bottom {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.bottom-items {
  font-weight: var(--font-weight-min);
  font-size: 11px;
  line-height: 13px;
  margin-top: 24px;
  color: var(--bg-color-main);
}

@media (min-width: 1124px) {
    .header {
        padding: 16px 97px 16px 81px;
    }

    .header__register {
        column-gap: 16px;
    }

    .header__basket {
        display: initial; 
        width: 24px;
        height: 25px;
        margin-left: 13px;
        background-image: url("../assets/basket1.svg");
        background-repeat: no-repeat;
    }

    .header__basket:hover {
        background-image: url("../assets/basket.svg");
        cursor: pointer;
    }

    .main__title {
      height: 364px;
      background-image: url("../assets/title-desctop.png");
    }

    .card {
      width: 389px;
      height: 204px;
      top: 80px;
      left: 81px;
      font-size: var(--font-size);
    }

    .card__container {
      flex-direction: row;
      justify-content: center;
      margin-top: 0;
      padding: 82px 32px 38px 38px;
    }

    .main__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 32px 438px 29px 81px;
    }

    .main__nav-items {
      font-weight: var(--font-weight-min);
      font-size: 16px;
      line-height: 19px;
      color: var(--text-color-nav);
    }

    .main__nav-items:hover {
      color: var(--bg-color-hover)
    }

    .menu {
      height: 780px;
      padding: 56px 87px 80px 81px;
    }

    .menu__title {
      text-align: start;
    }

    .menu__image {
      display: none;
    }

    .menu__container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 49px;
      column-gap: 16px;
      padding: 41px 0;
    }
    
    .info {
      width: 100%; 
      height: 160px;
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba(117, 117, 117, 0.2);
      border-radius: 2px;
    }

    .info__text {
      padding: 16px;
    }

    .info__text-name {
      font-size: 16px;
    }

    .info__image {
      width: 170px;
      height: 160px;
    }

    .image--herring {
      background-image: url("../assets/herring-desctop.png");
    }

    .image--pickles {
      background-image: url("../assets/pickles-desctop.png");
    }

    .image--mushrooms {
      background-image: url("../assets/mushrooms-desctop.png");
    }

    .image--fat {
      background-image: url("../assets/fat-desctop.png");
    }

    .image--salmon {
      background-image: url("../assets/salmon-desctop.png");
    }

    .image--tonque {
      background-image: url("../assets/tonque-desctop.png");
    }

    .footer {
      height: 443px;
      padding: 56px 87px 52px 81px;
    }

    .footer__nav {
      height: 220px;
      flex-direction: row;
    }

    .nav-item {
      margin-top: 39px;
      margin-left: 97px;
    }

    .navigation__about {
      margin-left: 57px;
    }

    .nav-bottom {
      width: 100%;
      height: 30px;
      flex-direction: row;
      margin-top: 40px;
    }
    
    .bottom-item {
      display: flex;
    }

    .bottom-items {
      margin-top: 0;
      margin-left: 205px;
    }
}

@media (max-width: 1124px) and (min-width: 768px) {
    .header {
        padding: 16px 22px 16px 8px;
    }

    .header__register {
        column-gap: 16px;
    }

    .header__basket {
        display: initial; 
        width: 24px;
        height: 25px;
        margin-left: 11px;
        background-image: url("../assets/basket1.svg");
        background-repeat: no-repeat;
    }

    .header__basket:hover {
        background-image: url("../assets/basket.svg");
        cursor: pointer;
    }

    .main__title {
      height: 364px;
      background-image: url("../assets/title-tablet.png");
    }

    .card {
      width: 432px;
      height: 204px;
      top: 80px;
      font-size: var(--font-size);
    }

    .card__container {
      flex-direction: row;
      margin-top: 0;
      padding: 82px 32px 38px 48px;
    }

    .main__nav {
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 32px 155px 29px 8px;
    }

    .main__nav-items {
      font-weight: var(--font-weight-min);
      font-size: 16px;
      line-height: 19px;
      color: var(--text-color-nav);
    }

    .main__nav-items:hover {
      color: var(--bg-color-hover);
    }

    .menu {
      height: 1290px;
      padding: 56px 8px 48px 8px;
    }

    .menu__title {
      text-align: start;
    }

    .menu__image {
      display: none;
    }

    .menu__container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 32px;
      padding: 41px 0;
    }
    
    .info {
      width: 100%; 
      height: 160px;
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba(117, 117, 117, 0.2);
      border-radius: 2px;
    }

    .info__text {
      padding: 16px 24px;
    }

    .info__text-name {
      font-size: 16px;
    }

    .info__image {
      width: 200px;
      height: 160px;
    }

    .image--herring {
      background-image: url("../assets/herring-tablet.png");
    }

    .image--pickles {
      background-image: url("../assets/pickles-tablet.png");
    }

    .image--mushrooms {
      background-image: url("../assets/mushrooms-tablet.png");
    }

    .image--fat {
      background-image: url("../assets/fat-tablet.png");
    }

    .image--salmon {
      background-image: url("../assets/salmon-tablet.png");
    }

    .image--tonque {
      background-image: url("../assets/tonque-tablet.png");
    }

    .footer {
      height: 443px;
      padding: 56px 8px 40px 8px;
    }

    .footer__nav {
      height: 220px;
      flex-direction: row;
    }

    .nav-item {
      margin-top: 39px;
      margin-left: 80px;
    }

    .navigation__about {
      margin-left: 6px;
    }

    .nav-bottom {
      width: 100%;
      height: 30px;
      flex-direction: row;
      margin-top: 42px;
    }
    
    .bottom-item {
      display: flex;
    }

    .bottom-items {
      margin-top: 0;
      margin-left: 106px;
    }

    .bottom-items:last-of-type {
      margin-left: 220px;
    }
}